<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html" .}}

<div id="yolo" class="jumbotron text-center">
  <div class="container">
    <div id="errorAlert" class="alert alert-danger text-center" role="alert">
    </div>
    <div id="successAlert" class="alert alert-success text-center" role="alert">
        Successfully registered!
    </div>

    <h3>The number of attendants is at {{.Counter}}</h1>
      <p>Register with your name to increase the attendant count. Codes are one-time use. Ask <a href="https://www.twitter.com/zubie7a">me</a> for a code :-)</p>
      <p>First Name: <input id="firstName" type="text"></input></p>
      <p>Last Name: <input id="lastName" type="text"></input></p>
      <p>Code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="registerCode" type="text"></input></p>
      <button id="register" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-flash"></span> Register Name</a>
      <button id="clear" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-ban-circle"></span> Clear Fields</a>
  </div>
</div>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
      The link for the presentation is supposed to go <a href="https://www.google.com" class="alert-link">here</a> heh.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
          <li>Attendants are given a one-time use code for registering</li>
          <li>Everytime a new name is entered with a code, they are sent to the server.
              <ul>
                <li>The code must have been given to the attendant, otherwise it will not work.</li>
                <li>If the code has already been used, it will not work</li>
              </ul>
          </li>
          <li>After successfully using a code, the attendant count will be increased!</li>
          <li>The names of the attendants will be listed on the dropdown element</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Technologies Involved</h3>
      <ul>
        <li><code>AWS / Go</code> - T2 Micro instance with Ubuntu, running a Go GRPC + HTTP server.</code></li>
        <li><code>Raspberry Pi / Python</code> - A GRPC Python client, with code that constantly polls the server.</li>
        <li><code>Computer / Go</code> - A GRPC Go client that generates a code for an attendant to register. </li>
        <li><code>Website / JQuery / Bootstrap / Go Templates</code> - This particular webpage :-) </li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
